/*Stilos propios para la web*/

/**Estilos generales**/

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Cutive Mono';
    src: url('../fonts/CutiveMono-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.ttf');
}

body{
    font-family: 'Montserrat-Regular';
}
p{
    font-family: 'Montserrat-Regular';
}

ul li{
    list-style-type: none;
}


input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
    color: #517a79;
    border: 3px solid #517a79;
    border-radius: 3px;
    padding: 6px 0px 0 10px;
}

#submit-new{
    background: #517a79;
    color:white;
    font-weight: bold;
    border-color: #517a79 #517a79 #517a79;
    box-shadow: none;
    text-shadow: none;
    font-family: 'Montserrat-Medium';
    margin-top: -12px;
    text-transform: uppercase;
    padding: 4px 20px 3px 20px;
    position: relative;
    top: -11px;
}

.comment-form-comment label{
    display: none;
}

.logged-in-as{
    display: none;
}

#reply-title{
    color:#517a79;
    font-family: 'Montserrat-Medium';
    font-weight: bold;
    margin-bottom: -7px;
}

.form-submit{
    display: none;
}



.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}

.overflow-hidden{
    overflow: hidden;
}

.relative{
    position: relative;
}



.oculto{
    display:none !important;
}

.mostrar{
    display: block;
}

.float-letf{
    float: left;
}
.float-right{
    float: right;
}

.mx-auto{
    position: relative;
    float:none;
    margin: auto;
}

.bold{
    font-weight: bold;
}

.mg-0{
    margin:0;
}

.mt-1{
    margin-top: .5rem;
}
.mt-2{
    margin-top: 1rem;
}
.mt-3{
    margin-top: 1.5rem;
}
.mt-4{
    margin-top: 2rem;
}
.mt-5{
    margin-top: 2.5rem;
}

.mt-6{
    margin-top: 3rem;
}

.mt-7{
    margin-top: 3.5rem;
}


.ml-1{
    margin-left: .5rem;
}
.ml-2{
    margin-left: 1rem;
}
.ml-3{
    margin-left: 1.5rem;
}
.ml-4{
    margin-left: 2rem;
}
.ml-5{
    margin-left: 2.5rem;
}

.ml-6{
    margin-left: 3rem;
}

.ml-7{
    margin-leftl: 3.5rem;
}


.mb-1{
    margin-bottom: .5rem;
}
.mb-2{
    margin-bottom: 1rem;
}
.mb-3{
    margin-bottom: 1.5rem;
}
.mb-4{
    margin-bottom: 2rem;
}
.mb-5{
    margin-bottom: 2.5rem;
}

.mb-6{
    margin-bottom: 3rem;
}

.mb-7{
    margin-bottom: 3.5rem;
}




.pd-0{
    padding:0;
}

.pt-0{
    padding-top: .5rem;
}

.pt-1{
    padding-top: 1rem;
}
.pt-2{
    padding-top: 1.5rem;
}
.pt-3{
    padding-top: 2rem;
}
.pt-4{
    padding-top: 2.5rem;
}
.pt-5{
    padding-top: 3rem;
}



.pb-0{
    padding-top: .5rem;
}

.pb-1{
    padding-top: 1rem;
}
.pb-2{
    padding-top: 1.5rem;
}
.pb-3{
    padding-top: 2rem;
}
.pb-4{
    padding-top: 2.5rem;
}
.pb-5{
    padding-top: 3rem;
}


.pr-0{
    padding-right: 0;
}

.pr-1{
    padding-right: 1rem;
}
.pr-2{
    padding-right: 1.5rem;
}
.pr-3{
    padding-right: 2rem;
}
.pr-4{
    padding-right: 2.5rem;
}
.pr-5{
    padding-right: 3rem;
}

.pl-0{
    padding-left: 0;
}

.pl-1{
    padding-left: 1rem;
}
.pl-2{
    padding-left: 1.5rem;
}
.pl-3{
    padding-left: 2rem;
}
.pl-4{
    padding-left: 2.5rem;
}
.pl-5{
    padding-left: 3rem;
}

.f-0{

    padding-left: 0!important;
}



.flex-container{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.display-flex{
    display: -webkit-flex; /* Safari */
    display: flex;
}

.flex-item-4{
    width: 29.8%;
}



.fecha{
    font-family: 'Montserrat-Medium';
}

.redes{
    position: absolute;
    top: 10px;
    right: 0;
}

.redes li {
    padding-top: 1rem;
}

.site-header {

    background: #fff;
    margin-bottom: 0;
}
nav#site-navigation{
    background: #F7F7F7;
    padding: 20px 20px 8px 6px;
}
.site-branding .search-form{
    float: right;
    margin-right: 0px;
}
input[type="search"]{
    border-radius: 0;
    border-color: #517a79;
    border-width: 2px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 7px;
    background-repeat: no-repeat;
    background-size: 17px;
    padding: 4px 0px 3px 0px;
    padding-left: 39px;
}

input[type="search"]::-moz-placeholder{
    color:#262b31;
    opacity: 1;
}
input[type="search"]::-webkit-input-placeholder{
    color:#262b31;
    opacity: 1;
    top:10px;
}
input[type="search"]:-ms-input-placeholder{
    color:#262b31;
    opacity: 1;
}
input[type="search"]::placeholder{
    color:#262b31;
    opacity: 1;
    padding:0;
}



.site-branding .search-submit{
    display: none;
}

.titulo-header{
    background-image: url("../img/fc.png");
    background-size: cover;
    background-repeat: no-repeat;

}

/*MENU*/
.active{
    font-weight: bold;
}
#site-navigation .inicio{
    float: left;
    position: relative;
    padding-right: 20px;
    top:-10px;
}
.main-navigation .menu li {
    margin: 0 28px;
}

.menu-item{
    text-transform: uppercase;
    font-size: 2rem;
}

/*LO ULTIMO // OPINION*/
.ultimo .flex-item-4,.opinion .flex-item-4,.tendencia .flex-item-4,.regulacion .flex-item-4,.international .flex-item-4{
    width: 31.8%;
}
.ultimo .card-padding,.opinion .card-padding,.tendencia .card-padding,.regulacion .card-padding,.international .card-padding{
    margin: 0px 10px 0px 5px;
}

/*Home feactured post*/

.card{
    position: relative;
    margin: 0px 0px 0px 0px;
}

.card-padding{
    margin: 0px 60px 0px 60px;
}

.pic-post{
    width: 100%;
    height: 275px;
    position: relative;
}
.card .wp-post-image{
    width: 100%;
    height: 100%;
}
.tittle-card{
    position: absolute;
    width: 100%;
    background: rgba(192, 192, 192, 0.5);
    bottom: 0;
}
.tittle-card a{
    color:#262b31;
    font-family: Montserrat-Medium
}
.tittle-card h2{
    padding-left: 20px;

}

.hastag{
    position: relative;
    width: 100%;
    background: white;
    padding: 10px 0px 20px 0px;
}
.hastag span{
    padding: 1%;
    font-family: 'Cutive Mono';
    font-size: 1.7rem;
}


/*INTERNATIONALS*/

.flags{
    background: #a4c0bf;
}

.flags h2{
    font-family: 'Montserrat-Medium';
    font-size: 2rem;
    margin: 10px 0px 10px 0;
}
.ul-flags{
    margin: auto;
}
.ul-flags li{
    display: inline-block;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.ul-flags .country{
    width: 65px;
}

.first-int{
    height: 550px;

}

.first-int .card{
    width: 100%;
    height: 100%;

}

.first-int .actors > .tittle-card{
    top:0;
    background: #98999b;
    height: 100px;
    position: relative;
}

.first-int .card > .tittle-card p{
    color:white;
    font-size: 3rem;
    font-family: 'Montserrat-Bold';
    padding: 0 0 0 17px;
    margin: 0;
    line-height: 30px;
}

.first-int .card > .tittle-card p:first-child{
    margin-top: 1.5rem;
}

.pic1,.pic2,.pic3{
    position: relative;
    float: left;
    width: 100%;
    padding: 0 30px 0 30px;
    background: #e6e6e6;
}

.pic1{
    padding-top: 23px;
}
.pic3{
    padding-bottom: 20px;
}

.pic1 img,.pic2 img,.pic3 img{
    width: 115px;
}

.pic2 img{
    float: none;
    display: block;
    margin:auto;
}

.first-int .card .pic-post{
    height: 475px;
}

.middle-int .hastag{
    word-break: initial;
    padding: 0;
}

.middle-int .hastag span{
    font-size: 1.4rem;
}

.middle-int a{
    color:#262b31;
    font-size: 12px;
}


/*==========OPINIONS========*/

.opinion{
    width: 100%;
}

.opinion div.opinion-items{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    width: 25%;
}

.opinion-pic{
    height: 230px;
}

.opinion-title{
    margin: 0 0 10px 0px;
}

.opinion-title h2{
    margin: 10px 0px 10px 0px;
    color:#262b31;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
}

.prev,.next,.sig,.ant{
    position: absolute;
    cursor: pointer;
    height: 40px;
    width: 40px;
    top: 30%

}

.next,.sig{
    right: -5rem;
    background-image: url("../img/siguiente.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.prev,.ant{
    left: -5rem;
    background-image: url("../img/anterior.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/***********EVENTOS y FORMACION**********/

.e-date{
    background: #262b31;
}
.e-date p{
    color:white;
    font-family: 'Montserrat-Medium';
}
.e-cont h4{
    color:#262b31;
    font-family: 'Montserrat-Regular';
}
.e-cont p{
    margin-top: 1px;

}

.event-img img{
    height: 200px;
}
.box-1{
    //height: 270px;
}

.tribe-events-event-image img{
    width: 100%;
}

.videos-items{
    width: 100%;
    height: 270px;
    padding: 3% 0% 3% 3%;
}

.videos-items .opinion-title{
    background: #262b31;
    margin-bottom: 5px;
    padding: 3px 0 10px 0px;
}

.videos-items .opinion-title h2{
    color:white;
}

.videos-items .frame{
    height: 80%;
}

.videos-items iframe{
    width: 100% !important;
    height: 100%;
    padding: 0;
}

.calendario{
    border:1px solid #517a79;
    height: 50px;
}
.calendario img{
    position: relative;
    top:3px;
    float: left;
}
.flechas{
    float: left;
    position: relative;
    margin-left: 10rem;
}

.flechas span{
    height: 20px;
    width: 20px;
}

.tab-eventos{
    display: none;
    position: absolute;
    background: white;
    z-index: 1;
    top: 50px;
    width: 100%;
    left: 0;
}
.tab-eventos td{
    border: 1px solid #517a79;
    text-align: center;
}

/*==============fin de la home=============*/

/*=============SINGLE ENTRY================*/

.single-entry-header{
    position: relative;
}

.img-header-single{
    height: 40vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.single-entry-header img.wp-post-image{
    width: 100%;
}
.title-header{
    background: rgba(192, 192, 192, 0.5);
    position: absolute;
    width: 100%;
}
.title-entry-single {
    top: 0px;
    width: 80%;
    font-family: 'Montserrat-Medium';
    font-weight: bold;
    font-size: 4rem;
    margin: auto;

}

.title-header .entry-meta p{

    width: 80%;
    margin: auto;
    font-family: 'Montserrat-Medium';
    margin-bottom: 2rem;
}

.title-header .entry-meta p span{
    margin-left: 15px;
    font-size: 12px;
}

.img-autor{
    border-radius: 50%;
}

.foto p{
    font-weight: bold;
}

.autor-post{
    padding: 10px;
}

.autor-post ul li a{
    padding: 2px;
}

.news-r h1{
    margin: 0 0 0 13px;
    font-family: 'Montserrat-Medium';
    font-weight: bold;
}

.card-footer{
    width: 27%;
    margin:15px;
}

.card-footer .pic-post{
    height: 135px;
}

.card-footer .pic-post h2{
    font-size: 10px;
}

.single-entry-header .entry-meta{

}

.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4 {
    font-family: 'Montserrat-Medium';
    font-weight: bold;
    color: #517a79;
    line-height: 34px;
    font-size: 3.3rem;

}

.hastag span{
    color:#517a79;
}

.opinion-title span{
    color:#517a79;
    padding: 1%;
    font-family: 'Cutive Mono';
    font-size: 1.7rem;
}

.share-icon{
    width: 100%;
    float: left;
}

.share-icon p{
    position: relative;
    top:2rem;
    font-family: 'Montserrat-Bold';
}

.share-icon ul{
    padding-left: 0;
}

/*********===FOOOTER=========******/
.site-footer{
    background: #262b31;
    position: relative;
}

.network{
    color:white;
}

.news-letter{
    margin: 0;
    position: absolute;
    top: 29%;
    left: 26%;
}

.news-letter li a{
    color:#a6bcb0;
    text-transform: uppercase;
    font-family: 'Montserrat-Medium';
    text-decoration: underline;
    font-size: 2rem;
    font-weight: bold;
}

.footer-link a{
    color:white;
    font-family:'Montserrat-Medium';
    font-size: 2rem;
    float: right;
    font-weight: bold;
}

/*Modal */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    //transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    display: flex;

}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.item-flex{
    margin: auto;
    width: 80vh;
    background: white;
    height: 35vh;
}

.item-flex h1{
    font-family: 'Montserrat-Medium';
    margin: 0;
    margin-left: 30px;
}

.news{
    color:#517a79;
    text-decoration: underline;
}

.item-flex p{
    font-size: 2.8rem;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    margin-left: 30px;
    line-height: 30px;
}

.backpic{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: 147%;
    height: 100%;
    background-position-y: 50%;
    background-position-x: -5%;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    font-size: 55px;
    margin: 0 !important;
    padding: 0 !important;
    display: initial;
    color: #517a79;
    border-radius: 50%;
    //color: white;
    font-weight: bold;
    text-align: initial !important;
    float: left;
}

.overlay .closebtn img{
    padding: 12px 0 0 0px;
    margin-left: 0px;
    left: -8px;
    position: relative;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}



@media (min-width: 300px) and (max-width: 599px) {
    body{
       // background: orangered;
    }
    .submenu-header{
        display: none;
    }
    a.inicio{
        display: none;
    }

    .main-navigation .menu li {
        margin: 0 10px;
        float: none;
    }

    .title-entry-single {
        font-size: 2rem;

    }



    .redes {
        position: absolute;
        top: 37%;
        right: 40px;
        display: flex;
    }
    .redes li{
        padding-left: 1rem;
    }
    .redes li img{
        max-width: 70%;
    }

    .flex-item-4{
        width: 100%;
    }

    .card{
        margin: 0;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    body{
        //background: lightseagreen;
    }


    .titulo-header {
        background-size: 100%;
        width: 80%;
        height: 100px;
    }

    .title-entry-single {
        font-size: 2.7rem;

    }

    .ft{
        width: 20%;
    }

    .ft img{
        max-width: 50%;
        margin-top: 0;
        margin-left: 10px;
    }

    .main-navigation .menu li {
        margin: 0 10px;
    }

    .menu-item{
        font-size: 12px;
    }

    .flex-item-4{
        width: 43.8%;
    }

    .card {
        margin: 0px 10px 0px 10px;
    }

    .hid-this{
        display: none;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    body{
        //background: lightpink;
    }

    .titulo-header {
        background-size: 100%;
    }

    .title-entry-single {
        font-size: 3rem;

    }

    .ft .logo{
        margin:auto;
    }

    .logo{
       max-width: 57%;
    }

    .main-navigation .menu li {
        margin: 0 8px;
    }

    .menu-item{
        font-size: 1.5rem;
    }

    .flex-item-4{
        width: 43.8%;
    }

    .card{
        position: relative;
        margin: 0px 20px 0px 20px;
    }

    .card-padding{
        margin: 0px 20px 0px 20px;
    }

    .overlay h1{
        font-size: 2.1rem;
    }

    .overlay p{
        font-size: 2rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /*medidas normales*/
    body{
       // background: lightcoral;
    }

    .titulo-header {
        background-size: 100%;
    }

    .ft .logo{
        margin:auto;
    }


    .main-navigation .menu li {
        margin: 0 23px;
    }

    .menu-item{
        font-size: 1.6rem;
    }




    .card {
        margin: 0px 30px 0 0px;
    }

    .overlay h1{
        font-size: 2.1rem;
    }

    .overlay p{
        font-size: 2rem;
    }
}

@media (min-width: 1200px) and (max-width:1224px ) {
    body{
        //background: lightcyan;
    }

    .site-branding .search-form {
        float: right;
        margin-right: 7rem;
    }

    .overlay h1{
        font-size: 2.1rem;
    }

    .overlay p{
        font-size: 2rem;
    }



}

@media (min-width: 1225px) and (max-width: 1399px) {
    body{
        //background: lightblue;
    }


    .redes{
        right: 3rem;
    }

    .overlay h1{
        font-size: 2.1rem;
    }

    .overlay p{
        font-size: 2rem;
    }



}

@media (min-width: 1400px) {
    body{
        background: transparent;
    }


    .redes{
        right: 10rem;
    }

    .overlay h1{
        font-size: 2.3rem;
    }

    .overlay p{
        font-size: 2.4rem;
    }

}